@(person: Form[CreatePersonForm])(implicit messages: Messages)

@import helper._

@main("persons") {
    <script src="@routes.Assets.versioned("javascripts/persons.js")" type="text/javascript"></script>

    <ul id="persons"></ul>


    @form(routes.PersonController.addPerson()) {
        @inputText(person("name"))
        @inputText(person("login"))
        @inputText(person("password"))

        <div class="buttons">
            <input type="submit" value="Add Person"/>
        </div>
    }
}